.form {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  padding: 16px;
  max-width: 800px;
  padding: 15px 0;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form p {
  font-size: 20px;
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 14px;
  padding: 5px;
  outline-style: none;
}

.form button {
  color: white;
  background: #1e62ed;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline-style: none;
  margin-left: 20px;
  cursor: pointer;
}

.input {
  margin: 15px;
}
