.header {
  max-width: 100%;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header nav ul {
  width: 600px;
  display: flex;
  gap: 50px;
  list-style: none;
}

.header nav ul li {
  color: #1e62ed;
  font-weight: bold;
  font-size: 20px;
}

.header a {
  color: #1e62ed;
  font-size: 20px;
}

.header a:hover {
  color: #052f83;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .nav {
    position: relative;
    left: 63px;
  }
}

@media (max-width: 599px) {
  .nav {
    position: relative;
    left: 63px;
  }
}
