body, h1, h2, p, ul, li {
  margin: 0px;
  padding: 0px;
}

html {
  position: relative;
  min-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, textarea {
  outline-style: none;
}

:root {
  --white: #FFF;

  --gray-50: #F7F8FA;
  --gray-100: #E6E8EB;
  --gray-200: #AFB2B1;
  --gray-500: #808080;
  --gray-800: #494D4B;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--gray-800);
}

body {
  background: var(--gray-50);
  font: 500 1rem Inter, sans-serif;
  margin: 0 0 10px;
}

